<h1>Bienvenu sur la liste des articles !</h1>

Nous avons <%= Article.public_count %> articles !

<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <%# <a href="/articles/<%= article.id %>
        <%=link_to article.title.capitalize, article %>
        <%= article.rating %>
        <%= article.author %>
      </li>
    <% end %>
  <% end %>
</ul>


<%= link_to "New Article", new_article_path %>
<%= link_to "top articles", top_articles_path %>
