<div class="navbar sticky" data-controller="dropdown-menu">
  <div class="logo">
    <i class="fa-solid fa-cat"></i>
    <%= link_to "PMbyA", root_path, class: "logo-title caramel navbar-brand", id: "logo" %>
    <%# <h1 class="logo-title">PM<span class="caramel">by</span><span class="caveat">A</span></h1> %>
  </div>
  <div class="nav-links">
    <ul>
      <li> <%= link_to "Home", root_path %></li>
      <li class=""><%= link_to "About me", about_path %></li>
      <li class=""><%= link_to "Articles", articles_path %></li>
      <li class=""><%= link_to "Projects" %></li>
      <li class=""><%= link_to "Contact", contact_path %></li>
    </ul>
  </div>
  <i class="fa-solid fa-bars"></i>
</div>
