<div class="body">


    <div class="intro-container" id="intro">
      <%= cl_image_tag "cjqsvdvhp3dhbs456krj", alt: "moi qui profite", height:300, crop: :fill, class:"avatar margin-300" %>

      <div class="container-welcome margin-300">
        <h1 class="display-3">Welcome I'm <br>
        <span class="about-title">Adrien Schaffner</span></h1>


        <p class="paragraph">Hi ! I'm a new Product Manager looking for a new opportunity after graduating from Le Wagon and working on two side projects.
      I love the connection between the vision and the user and to work on the best way to provide better products.</p>
      <%# mettre un link to vers les différentes parties de la page pour gagner du temps %>
      <p class="border-white"></p>
      </div>
  </div>
  <div class="arrow-direction">
    <%= link_to "", about_path(anchor:"journey"), class: "fa-solid fa-arrow-down-long"%>
  </div>


  <div class="container-center margin-300">
    <div class="container-journey paragraph">
      <h2 class="about-title">My historical journey</h2>
      <%# <%= cl_image_tag "journey_tahqey.jpg", alt: "i'm going for an adventure!", height: 300, crop: :fill, class:"img-size" %>
      <div class="paragraph paragraph-journey" id="journey">
        <p>Long ago...</p>
        <p>I studied work law and human resources for several years. <br>
        Thanks to that I worked as a specialist recruiter for more than four years, until I discovered the Product Management existence. <br>
        To sum up, the lack of skilled trades people are factors to the intensity of this work, what makes it a
        challenging opportunity and in the same time a way to increase my versatility, from my professional understanding of
        client's needs to my ability to answer to any complex request.
        <br>
        <%# During this career I switched from a great but older company to another, more of a start up, and that's when I entered a new way
        to work, faster, modern and dealing with new technology. <br>
        Surrounded by recruiters, I was more focused on the client side, trying to find a way to help them in their specific needs and issues with the help of an AI.
        I reported weekly about the market evolution and was able to propose new directions to follow. <br> %>
        During my last experience in Human Resources I discovered what is a Product Manager, what does he do, and understood that is what I wanted to do from now ! </p>
        <p>As a Product Manager, one of the main key is the technical background.
        So I quit, went to Le Wagon's bootcamp and learned to code from scratch with html, CSS & Ruby, to use
        RubyonRails Framework and to drive an end-to-end project. <br>
        At the end, with some other alumni, we decided to improve our skills and to practice what we learned with our own project.
        Crushs was born ! We set a time limit of 6 months and my part was essentially focused on the PM duties (but not only).
        In the same time, I tried on my own to build a markeplace in fashion with a specific vision : Casual. </p>

        <p>
        And that's it ! After struggling a little and learned a lot, here I am ! <i class="fa-solid fa-rocket blue"></i>
        </p>
        <br>
        <p class="border-white"></p>
      </div>
    </div>
  </div>
  <div class="arrow-direction">
    <%= link_to "", about_path(anchor:"experience"), class: "fa-solid fa-arrow-down-long"%>
    <%= link_to "", about_path(anchor:"intro"), class: "fa-solid fa-arrow-up-long"%>
    <%# <i class="fa-solid fa-arrow-down-long"></i>
    <i class="fa-solid fa-arrow-up-long"></i> %>
  </div>



  <div class="container-experience margin-300" id="experience">
    <div class="about-experience">
      <h2 class="about-title"><i class="fa-solid fa-briefcase"></i>&nbsp Experience</h2>
      <p>During my past career in Human Resources I switched from a great but quit old-fashioned company to another,
      more of a start up, and that's when I entered a new way
      to work, faster, modern and dealing with new technology. <br>
      Surrounded by recruiters, I was more focused on the client side, trying to find a way to help them in their specific needs and issues with the help of an AI.
      I reported weekly about the market evolution and was able to propose new directions to follow. </p>
      <p>I also added what I think has the most value as a Product Manager : My side projects as a Product Manager.</p>
      <ul>
        <li class="btn btn-success btn-lg margin-20"><%= link_to "hire me!", contact_path %></li>
      </ul>
      <p class="border-white"></p>
    </div>

    <div class="container-scroll">
      <div class="border-bottom">
        <p>June 2022 - now</p>
        <h4 class="blue">CASUAL</h4>
        <p>Bordeaux</p>
        <p class="italic">Product Manager & Founder</p>
        <ul>
          <li><em class="underline">Discovery</em></li>
          <li>Determine the vision to achieve and the strategy to succeed</li>
          <li>Conduct market research and sharpen ideation</li>
          <li>Conduct User research, identify users'needs and establish Persona</li>
          <li>Write user stories and then prioritize what to build at first (lean philosophy)</li>
          <li>Setting pricing to meet profitability and revenue goals, taking account of the market rate</li>
          <li>Design sketches on Figma to get a corporate identity</li>
          <li>Determine sales method (List all brands to call, mail sending, finding partners,...)</li>
        <br>
          <li><em class="underline">Delivery</em></li>
          <li>Define the product roadmap on Trello</li>
          <li>Product Development on RubyonRails (backend & frontend)</li>
          <li>Deal with external help and advices</li>
        </ul>
      </div>

      <div class="border-bottom">
        <p>June 2022 - december 2022 - self </p>
        <h4 class="blue">CRUSHS</h4>
        <p>Bordeaux</p>
        <p class="italic">Product Manager & Co-founder</p>
        <ul>
          <li><em class="underline">Discovery</em></li>
          <li>Determine the vision to achieve and the strategy to succeed</li>
          <li>Conduct market research and sharpen ideation</li>
          <li>Conduct User research, identify users'needs and establish Persona (from a sample of 20 people)</li>
          <li>Write user stories and then prioritize what to build / what is useless</li>
          <li>Build a MVP, from design sketches to a functionnal end-to-end test on Figma</li>
          <li>Conduct user tests validation (one-to-one meeting or web link and survey for people too far from us)</li>
        <br>
          <li><em class="underline">Delivery</em></li>
          <li>Define the product roadmap on Trello and set a time limit</li>
          <li>Regular meetings with the development team to under the struggling points (daily and weekly)</li>
          <li>Product Development on RubyonRails (backend & frontend)</li>
          <li>Deal with external help and advices</li>
          <li>retrospective review about what has been done, what worked, what didn't worked and why</li>
        </ul>
      </div>

      <div class="border-bottom">
        <p>Septembre 2019 - June 2021 - cdi </p>
        <h4 class="blue">QAPA</h4>
        <p>Bordeaux</p>
        <p class="italic">Account Developer</p>
        <ul>
          <li>Business development of the client base</li>
          <li>Growth of the customer portfolio split between larger accounts (Carrefour, Danone, ...) and smaller accounts : up to 57 accounts</li>
          <li>Gather and understand staffing requirements</li>
          <li>On-site travel and direct meeting with contact partners (HR, managers, CEO,...)</li>
          <li>Specify objectives, transmit the information, and confirm comprehension.</li>
          <li>Ensure the responsiveness to any client's request and guarantee both its reactivity and its quality</li>
          <li>Weekly reports on activity with explanations about market behavior, client's needs and ways to improve our growth</li>
          <li>Monitoring of indicators (KPIs) and regular personal reviews</li>
          <li>Management of the recruitment team and continuing education to improve client feedback</li>
          <li>Bring every useful answer to any team member about the market, the client's specificities or even recruiter's work</li>
        </ul>
      </div>

      <div class="border-bottom">
        <p>March 2017 - May 2019 - pro contract-cdi </p>
        <h4 class="blue">KELLY SERVICES</h4>
        <p>Bordeaux</p>
        <p class="italic">Recruiter</p>
        <ul>
          <li>Candidates recruitement</li>
          <li>Writing and serving job advertisements</li>
          <li>Sourcing candidates on differents jobboards according to the final client's specific need of a particular profile</li>
          <li>Plan and conduct candidate interviews (by phone or physical)</li>
          <li>Write post interview reports in destination of the clients that are more likely to be interested in his profile</li>
          <li>Follow-up the integration of the candidate during the probationary period.</li>
          <li>Ensure the responsiveness's reactivity</li>
          <li>Weekly reports on activity</li>
          <li>Establish administrative records (candidate and client files, contracts, wages, ...)</li>
          <li>Update the HR tracking tool</li>
          <li>Client prospecting</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="arrow-direction">
    <%= link_to "", about_path(anchor:"formation"), class: "fa-solid fa-arrow-down-long"%>
    <%= link_to "", about_path(anchor:"journey"), class: "fa-solid fa-arrow-up-long"%>
  </div>

  <div class="container-experience margin-300" id="formation">
    <div class="about-experience">
      <h2  class="about-title"><i class="fa-solid fa-graduation-cap white"></i> &nbsp Education </h2>

      <p>I studied five years to obtain a master in work law, then I completed it with one more year at the Inseec Business School
      in Human Resources Management. Recently I went to Le Wagon bootcamp to learn about Web Development and improve my technical skills.
      </p>
      <ul>
        <li class="btn btn-success btn-lg"><%= link_to "hire me!", contact_path %></li>
      </ul>
      <p class="border-white"></p>
    </div>
    <div class="container-scroll">
      <p>June 2022 - <span class="blue">Le Wagon</span></p>
      <p>Web Development</p>
      <ul>
        <li>Web and DB fundamentals</li>
        <li>Backend with Ruby <img src="https://upload.wikimedia.org/wikipedia/commons/7/73/Ruby_logo.svg" alt="ruby" width="16" height="16"></li>
        <li>Frontend with HTML <i class="fa-brands fa-html5 orange"></i>, CSS <i class="fa-brands fa-css3-alt blue"></i> & Javascript <i class="fa-brands fa-js jaune"></i></li>
        <li>Fullstack with Ruby on Rails framework <img src="https://upload.wikimedia.org/wikipedia/commons/6/62/Ruby_On_Rails_Logo.svg" alt="rails" height="16"></li>
      </ul>

      <p>June 2017 - <span class="blue">INSEEC</span></p>
      <p>Master Human Resource Management</p>
      <ul>
        <li>Contract, lay-off, mutation, ...</li>
        <li>Skills Management</li>
        <li>Corporate social responsibility</li>
        <li>Digital transformation</li>
        <br>
      <li>Memoir : The GDPR in temporary work companies</li>
      </ul>


      <p>June 2016 - <span class="blue">IEJ</span></p>
      <p>Preparation for the legal exam to become a lawyer</p>


      <p>June 2015 - <span class="blue">Bordeaux University</span></p>
      <p>Master Work Law</p>
    </div>
  </div>
  <div class="arrow-direction">
    <%= link_to "", about_path(anchor:"skills"), class: "fa-solid fa-arrow-down-long"%>
    <%= link_to "", about_path(anchor:"experience"), class: "fa-solid fa-arrow-up-long"%>
  </div>

  <h2 class="about-title margin-300"><i class="fa-solid fa-gift"></i>&nbsp Skills</h2>
  <div class="container-skills">
    <div>
      <p><em class="italic">Personnal skills</em></p>
      <ul>
        <li>creative and problem-solving focused</li>
        <li>Good communicator and listener</li>
        <li>Flexible</li>
        <li>Organized</li>
      </ul>
      <p><em class="italic" id="skills">Professional skills</em></p>
      <ul>
        <li>Conducting Market Research and users tests</li>
        <li>Defining the vision and the strategy</li>
        <li>Establishing User stories and the product roadmap</li>
        <li>Software Development and desing skills</li>
      </ul>
      <ul>
        <li class="btn btn-success btn-lg"><%= link_to "hire me!", contact_path %></li>
      </ul>
      <p class="border-white"></p>
    </div>
    <div class="border-left">
      <p><em class="italic">Tools & Development environment</em></p>
      <ul>
        <li>HTML <i class="fa-brands fa-html5 orange"></i> & CSS <i class="fa-brands fa-css3-alt blue"></i> &nbsp &nbsp &nbsp <i class="fa-solid fa-plus blue"></i> <i class="fa-solid fa-plus blue"></i> <i class="fa-solid fa-plus blue"></i></li>
        <li>Ruby <img src="https://upload.wikimedia.org/wikipedia/commons/7/73/Ruby_logo.svg" alt="ruby" width="16" height="16"> & RubyOnRails <img src="https://upload.wikimedia.org/wikipedia/commons/6/62/Ruby_On_Rails_Logo.svg" alt="rails" height="16">&nbsp &nbsp &nbsp<i class="fa-solid fa-plus blue"></i></li>
        <li>Javascript <i class="fa-brands fa-js jaune"></i> &nbsp &nbsp &nbsp <i class="fa-solid fa-plus blue"></i></li>
        <li>Figma &nbsp &nbsp &nbsp <i class="fa-solid fa-plus blue"></i><i class="fa-solid fa-plus blue"></i></li>
        <li>Trello &nbsp &nbsp &nbsp<i class="fa-solid fa-plus blue"></i><i class="fa-solid fa-plus blue"></i></li>
        <li>Notion &nbsp &nbsp &nbsp<i class="fa-solid fa-plus blue"></i></li>
        <li>Github &nbsp &nbsp &nbsp<i class="fa-solid fa-plus blue"></i></li>
      </ul>
    </div>
  </div>
  <div class="arrow-direction">
    <%= link_to "", about_path(anchor:"articles"), class: "fa-solid fa-arrow-down-long"%>
    <%= link_to "", about_path(anchor:"formation"), class: "fa-solid fa-arrow-up-long"%>
  </div>


  <h2 class="about-title margin-300"><i class="fa-solid fa-pen-nib white"></i>&nbsp Articles</h2>
  <div class="container-article">
    <p>As a newcomer in the Product Management, I studied a lot about it. I read books, articles, listen to podcasts...
    As I was working I told myself that it might be interesting to share what I was learning and what I wrote with
    people like me that might also be curious about PM. <br>
    When you know nothing, you may struggle a little to find where to begin, what is important and what is not,
    to know the differences between Lean, MVP, Scrum among other useful notions. <br>
    That is when the idea come to me to make my own blog about it.
    Considering I am not an expert (for the moment), those articles are a way to share what I know and in the same
    time to be sure that I understand clearly each topic.</p>
    <p>
      So, if you want to read some, it's <span class="underline" id="articles">right there</span> &nbsp<i class="fa-solid fa-hand-point-right red"></i> &nbsp: &nbsp
      <%= link_to "articles", articles_path, class:"btn btn-primary btn-lg" %>
    </p>
    <p class="border-white"></p>
  </div>
  <div class="arrow-direction">
    <%= link_to "", about_path(anchor:"hobbies"), class: "fa-solid fa-arrow-down-long"%>
    <%= link_to "", about_path(anchor:"skills"), class: "fa-solid fa-arrow-up-long"%>
  </div>

  <h2 class="about-title margin-300"><i class="fa-solid fa-gamepad"></i>&nbsp my hobbies</h2>
  <div class="container-article" id="hobbies">
    <p>I have a lot of hobbies that prevent me to be bored : <br>
    Cinema &#127871 &#127916 &#127903 (Adam Sandler deserve more recognition. Change my mind.) <br>
    I practice guitar as often as I can &#127928 &#127926 (if you want to jam one day, with great pleasure !) <br>
    I enjoy spending time in museums &#128444 (I'de like one Vermeer in my room, I had it into my wishlist Amazon) <br>
    I train three times a week &#127947 <br>
    & Christmas is my favorite time of the year &#127876 &#127873</p>
  </div>
  <div class="arrow-direction pad-5">
    <%= link_to "", about_path(anchor:"articles"), class: "fa-solid fa-arrow-up-long"%>
  </div>

  <%# <div class="btn-list-">
    <ul>
    <li class="btn btn-primary btn-lg"><%= link_to "articles", articles_path %>
    <%# <li class="btn btn-primary btn-lg"><%= link_to "home page", root_path %>
    <%# <li class="btn btn-success btn-lg"><%= link_to "hire me!", contact_path %>
    <%# </ul> %>
  <%# </div> %>

</div>
<%# Find someone in a list : filter the list %>
<%# <form action="/about" method="get">
  <input type="text" name="member" value="<%= params[:member] " placeholder="Who are you looking for?"> %>
  <%# <input type="submit"> %>
<%# </form> %>
<%# <p>Our team :</p>
<ul>
  <% @members.each do |member| %>
   <%# <li><%= member.capitalize %>
  <%# <% end %>
<%# </ul> %>
<%# </div> %>
